body {
    background-color: linen;
}

h1, h6 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}

a, a:visited {
    color: #444;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
